@font-face {
			  font-family: 'Oswald-Bold';
			  font-weight: 300;
			  src: url("../fonts/Oswald-Bold.ttf");
			}
			/* End Oswald */
			@font-face {
			  font-family: 'Interstate-Regular';
			  src: url("../fonts/Interstate-Regular.ttf");
			}
			body {
				/*max-width:1200px;
				margin:auto;*/
				background-color: #000d40;
				background-image: url('body_bg.png');
			}
			h1 {
				color:#FFF;
				font-size:55px;
				margin-bottom:0px;
			}
			a{
				color:#FFF;
				font-size:25px;
				margin-bottom:0px;
			}
			.ribbonOn{
				border:thick rgba(76,175,80,1.00) solid;
			}
			.ribbonOff{
				border:thick transparent solid;
			}
			canvas {
				background-color: #191970;
				background-image: url('canvas_bg.png');
				margin-bottom:5px;
			}
			figure {
				text-align:center;
				padding:5px;
				width:245px;
				height:90px;
				background-color:antiquewhite;
				background-image: url('canvas_bg.png');
				margin:5px;
				cursor: pointer;
				font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
			}
			figure figcaption{
				text-align:center;
				font-size: 14px;
				font-weight: bold;
				width:245px;
			}
			.count{
				font-size: 16px;
				color:#F34437;
				margin-bottom:18px;
			}
			.removeRibbon{
				float:left;
				font-size:30px;
				font-weight:bold;
				padding-left:10px;
			}
			.addRibbon{
				float:right;
				font-size:30px;
				font-weight:bold;
				padding-right:10px;
			}
			.plusMinus{
			}
			.ribbon{
				margin-bottom:2px;
			}
			divider{
				margin-top:5px;
				margin-bottom:5px;
				width:960px;
			}
			.ribbonContainer{
			}
